@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fcfcfc;

  color: #212121;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  height: 72px;
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: transparent;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fcfcfce0;
  padding: 16px;
  backdrop-filter: blur(16px);

  border-radius: 4px;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 24px 16px;
  position: relative;
  background-color: transparent;
}

.navigation__list {
  background: #fcfcfce0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 32px;
  margin-top: 33.4px;
  top: 290px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 376px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  border-radius: 4px;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  display: flex;
  justify-content: center;
  position: relative;
  text-decoration: none;
  width: 279px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #002952;
}

.navigation__link:hover,
.navigation__link:focus {
  text-shadow: 0px 0px 6px #ffffff;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .navigation-img-policy {
    font-family: "Cormorant Garamond", serif;
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    color: #002952;

    text-decoration: none;

    height: 136px;
    margin: auto;

    margin: auto;
  }
  .navigation-policy {
    background: #f4f4f4cc;
    height: 100px;
  }
  .navigation-policy {
    background: #f4f4f4cc;
  }
  .navigation-img {
    display: flex;
  }
  .header {
    height: 88px;
    padding: 24px 177px;
  }
  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }
  .header__button-wrapper {
    width: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: none;
  }
  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;

    align-items: center;
    justify-content: center;
  }

  .navigation__list {
    background: #f4f4f4cc;

    flex-direction: row;
    justify-content: c;

    position: static;
    width: auto;
    padding-block: 0;
    flex: 1;
    gap: 16px;
    height: 0px;
    display: flex;

    align-items: center;
    padding: 0;
  }
  .navigation__list-polict {
    justify-content: center;
  }
  .navigation__link {
    width: auto;

    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fcfcfc;

    height: 40px;
    padding: 8px 16px 8px 16px;
  }
  .navigation__link-polict {
    display: none;
  }
  .header__icon-home-img {
    display: none;
  }
}

.home {
  width: 375px;
  height: 612px;
  gap: 0px;
  margin: auto;
  padding: 100px 32px 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url("/img/home/image\ block\ 1.png");
}

.home-title {
  font-family: Cormorant Garamond;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 128px;
  text-transform: uppercase;
  color: #fcfcfc;
}
.home-text {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 32px 0;
  color: #fcfcfc;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fcfcfc;

  text-decoration-skip-ink: none;
  border: none;
  width: 312px;
  height: 68px;
  padding: 16px;
  gap: 16px;
  border-radius: 4px;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #002952;
}
@media screen and (min-width: 1200px) {
  .home {
    padding: 168px 120px 72px;
  }
  .home {
    width: 1440px;
    height: 858px;

    margin: auto;
    padding: 232px 104px;
  }

  .home-title {
    font-family: Cormorant Garamond;
    font-size: 88px;
    font-weight: 400;
    line-height: 88px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 0px;
    text-transform: uppercase;
    color: #fcfcfc;
  }
  .home-text {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 32px 0;
    color: #fcfcfc;
  }

  .home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fcfcfc;
    margin: auto;
    text-decoration-skip-ink: none;
    border: none;
    width: 312px;
    height: 68px;
    padding: 16px;
    gap: 16px;
    border-radius: 4px;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #002952;
  }
}

.about {
  padding: 96px 32px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 375px;
}

.about-title {
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #212121;
}
.about-title-text {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justified;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 24px 0;
}

.about-two-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.about-two-item {
  width: 311px;
  height: 40px;
  padding: 8px 48px 8px 48px;
  background: #002952;

  border-radius: 4px;
}
.about-two-text {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fcfcfc;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 136px 104px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .about-title-texts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
  }
  .about-title {
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .about-title-text {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justified;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 604px;

    padding: 0;
  }

  .about-container-two {
    padding: 24px 0;
  }

  .about-two-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .about-two-item {
    width: 394.67px;
    height: 40px;
    padding: 8px 48px 8px 48px;

    border-radius: 4px;
    opacity: 0px;
  }
  .about-two-text {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.services {
  padding: 0 32px;
  width: 375px;
  margin: auto;
}
.services-title-text {
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: justified;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 24px 0 0;
}

.services-list {
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.services-item {
  width: 311px;
  height: 242px;
  padding: 24px;
  gap: 16px;
  border-radius: 4px;
  border: 2px solid #002952;
}
.services-img {
  margin: auto;
}
.services-text-bold {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 16px 0;
}
.services-text {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 215px;

  margin: auto;
}

@media screen and (min-width: 1200px) {
  .services {
    padding: 0 104px;
    width: 1440px;
    margin: auto;
  }

  .services-title-text {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: justified;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 41px 0 0;
  }

  .services-list {
    padding: 40px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
  .services-item {
    width: 394px;
    height: 288px;
    padding: 32px;
    gap: 24px;
    border-radius: 4px;
  }
  .services-img {
    margin: auto;
  }
  .services-text-bold {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 24px 0;
  }
  .services-text {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 282px;

    margin: auto;
  }
}

.gallery {
  padding: 96px 32px;
  margin: auto;
  width: 375px;
}

.gallery-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding-top: 40px;
}
.gallery-item {
  width: 311px;

  padding: 16px;
  background: #002952;

  border-radius: 4px;
  opacity: 0px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.gallery-text {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fcfcfc;
  width: 183px;

  gap: 0px;
  opacity: 0px;
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding: 136px 104px;
    margin: auto;
    width: 1440px;
  }

  .gallery-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 23.5px;
    padding-top: 40px;
  }
  .gallery-item {
    padding: 16px;
    background: #002952;

    opacity: 0px;
    display: flex;
    align-items: center;

    width: 395px;

    gap: 8px;
    border-radius: 4px;
  }

  .gallery-text {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 267px;
  }
  .gallery-img-left {
    padding-top: 140px;
  }
  .gallery-img-right {
    padding-bottom: 140px;
  }
}

.reviews {
  padding: 0px 32px;
  margin: auto;
  width: 375px;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 40px;
}
.reviews-item {
  width: 311px;
  height: 192px;
  padding: 24px 48px 24px 48px;
  gap: 16px;
  border-radius: 4px;
  border: 2px solid #002952;
}

.reviews-text {
  width: 215px;
  padding-top: 16px;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.reviews-img {
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .reviews {
    padding: 0px 104px;
    margin: auto;
    width: 1440px;
  }

  .reviews-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 40px;
  }
  .reviews-item {
    width: 604px;
    height: 198px;
    padding: 24px 72px 24px 72px;
    gap: 16px;
  }

  .reviews-text {
    width: 460px;
    padding-top: 16px;

    font-family: Work Sans;
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .reviews-img {
    margin: auto;
    width: 96px;
    height: 96px;
  }
}
.faq {
  padding: 96px 32px;
  margin: auto;
  width: 375px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 40px;
}
.faq-item {
  width: 311px;

  padding: 18px 26px 16px 26px;

  border-radius: 4px;
  border: 2px solid #002952;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #002952;
}

.toggle-button {
  background: none;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.faq-answer {
  display: none;
  margin-top: 10px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justified;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #002952;
}
@media screen and (min-width: 1200px) {
  .faq {
    width: 1440px;
    padding: 136px 104px;
  }

  .faq-item {
    width: 1232px;
    padding: 16px 26px 16px 26px;
    gap: 8px;
  }
  .faq-question {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .toggle-button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;

    cursor: pointer;
  }

  .faq-answer {
    display: none;
    margin-top: 16px;

    font-family: Work Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: justified;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.contacts {
  padding: 0px 32px 96px;
  margin: auto;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts-list {
  margin: 40px 0 24px;
  display: flex;
  flex-direction: column;

  gap: 24px;
}
.contacts-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 8px;
}
.contacts-item-top {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: start;
}
.contacts-text-bold {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.contacts-text {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justified;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 16px;
  width: 311px;

  padding: 16px;
  gap: 16px;
  border-radius: 4px;

  background: #002952;
}

.form-input {
  width: 279px;
  height: 64px;
  padding: 16px 26px 16px 26px;
  gap: 8px;
  border-radius: 4px;
  border: 2px solid #7a7a7a;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #7a7a7a;
}
.form-button {
  width: 279px;
  height: 68px;
  padding: 16px;
  gap: 16px;
  border-radius: 4px;

  background: #fcfcfc;

  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #002952;
}

@media screen and (min-width: 1200px) {
  .contacts {
    padding: 0 104px 137px;
    margin: auto;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contacts-container-bottom {
    display: flex;
    padding-top: 40px;
  }
  .contacts-list {
    margin: 40px 0;
    display: flex;
    flex-direction: column;

    gap: 24px;
  }
  .contacts-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
  }
  .contacts-item-top {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: start;
    width: 604px;
  }
  .contacts-text-bold {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .contacts-text {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: justify;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 16px;
    width: 604px;

    padding: 40px;
    gap: 24px;
    border-radius: 4px;

    background: #002952;
  }

  .form-input {
    width: 524px;
    height: 64px;
    padding: 16px 26px 16px 26px;
    gap: 8px;
    border-radius: 4px;
    border: 2px solid #7a7a7a;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #7a7a7a;
  }
  .form-button {
    width: 524px;
    height: 68px;
    padding: 16px;
    gap: 16px;
    border-radius: 4px;

    background: #fcfcfc;

    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #002952;
  }
}

.footer {
  background: #002952;

  padding: 24px;
}
.footer-container {
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.footer-text {
  color: #fcfcfc;

  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 4px;
  text-decoration: none;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer-copyright {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fcfcfc;
  padding-top: 24px;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 40px;
  }
  .footer-container {
    width: auto;
    margin: auto;

    display: flex;

    justify-content: space-between;
    align-items: center;

    gap: 24px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 24px;
  }
  .footer-text {
    padding: 8px 16px 8px 16px;
    gap: 8px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;

    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 24px;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 100px 32px 40px;
  background: #fcfcfc;

  color: #212121;
}

.policy-terms-title {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.policy-terms-text {
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 40px;
}

.policy-terms-text-one {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 16px;
}

.terms-list {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  gap: 16px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  counter-reset: list-counter;
}
.terms-list li::before {
  content: counter(list-counter) ". ";
  counter-increment: list-counter;
  position: absolute;
  left: 0;
  padding-left: 32px;
}

.terms-list-two {
  list-style: none;
  counter-reset: list-counter 1;
}
.terms-lists {
  list-style-type: disc;

  padding-left: 25px;

  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 256px 176px 56px;
  }

  .policy-terms-title {
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 56px;
  }

  .policy-terms-text-one {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 24px;
  }

  .terms-list {
    padding-top: 24px;
    gap: 24px;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .terms-list li::before {
    content: counter(list-counter) ". ";
    counter-increment: list-counter;
    position: absolute;
    left: 0;

    padding-left: 176px;
  }
  .terms-lists {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
